* {
  margin: 0px;
  border: 0px;
  padding: 0px;
}
html {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}
body {
  background-color: rgba(33, 37, 43, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.barra {
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: rgb(87, 143, 192);
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  /*margin-bottom: 20px;*/
}

.barra1 {
  background-color: rgb(87, 143, 192);
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
}

.logo {
  display: flex;
  text-shadow: none;
  text-decoration: none;
}

#logo {
  padding-left: 6px;
  margin-top: 6px;
}

#titolo {
  align-self: center;
  padding-left: 6px;
  margin-top: 3px;
  font-size: 20px;
  /*  color: rgba(123,120,131,255);*/
  color: rgba(163, 177, 189, 255);
  font-family: "Oswald", sans-serif;
}

.barra2 {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;

  /*padding-left: 350px;*/
}

.search {
  margin-top: 6px;
  height: 30px;
  margin-right: 6px;
}

/*
.categorie{

    
    
    
}
*/
.fila1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.informatica, .letteratura, .biologia, .storia, .chimica, .matematica {
  background-color: rgba(87, 143, 192, 0.3);
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.informatica {
  background-image: url("/assets/images/informatica.jpg");
  
}

.letteratura {
  background-image: url("/assets/images/letteratura.jpg");
  background-position: center;
  background-size: cover;
}

.biologia {
  background-image: url("/assets/images/biologia.jpg");
  background-position: center;
  background-size: cover;
}

.storia {
  background-image: url("/assets/images/storia.jpg");
  background-position: center;
  background-size: cover;
}

.chimica {
  background-image: url("/assets/images/chimica.jpg");
  background-position: center;
  background-size: cover;
}

.matematica {
  background-image: url("/assets/images/matematica.jpg");
    background-position: center;
  background-size: cover;
}

.informaticaB,
.letteraturaB,
.biologiaB,
.storiaB,
.chimicaB,
.matematicaB {
  cursor: pointer;
  background-color: rgba(87, 143, 192, 0.6);
  width: 40vw;
  height: 100px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-decoration: none;
  text-decoration-line: none;
  font-weight: bold;
}

p {
  font-size: 130%;
  align-self: center;
  color: black;
  font-weight: bold;
  text-decoration: none;
  text-decoration-line: none;
  font-family: "Livvic", sans-serif;
  opacity: 1;
}


.informaticaB:hover, .letteraturaB:hover, .biologiaB:hover, .storiaB:hover, .chimicaB:hover, .matematicaB:hover {
  background-color: rgba(87, 143, 192, 0.4);
}

.terminale {
  align-self: center;
  padding-left: 7px;
  padding-top: 5px;
}

.letteratura {
  display: flex;
  justify-content: center;
}

.terminale {
  align-self: center;
  padding-left: 7px;
  padding-top: 5px;
}

.fila2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.biologia {
  display: flex;
  justify-content: center;
}

.terminale {
  align-self: center;
  padding-left: 7px;
  padding-top: 5px;
}

.storia {
  display: flex;
  justify-content: center;
}

.terminale {
  align-self: center;
  padding-left: 7px;
  padding-top: 5px;
}

.fila3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.chimica {
  display: flex;
  justify-content: center;
}

.terminale {
  align-self: center;
  padding-left: 7px;
  padding-top: 5px;
}

.matematica {
  display: flex;
  justify-content: center;
}

.terminale {
  align-self: center;
  padding-left: 7px;
  padding-top: 5px;
}
